.grown-greeks-banner {
  max-width: 100%;
  height: auto;
}

#vertical-tabpanel-0 {
  width: 100%;
}

#vertical-tabpanel-1 {
  width: 100%;
}

#vertical-tabpanel-2 {
  width: 100%;
}

#vertical-tabpanel-3 {
  width: 75%;
}
#logo-img{
  max-height: 200px;
}

#style-selector{
  font-size: 14px;
  color: white;
}

.MuiButtonBase-root-MuiTab-root {
  color: white;
}
.MuiNativeSelect-select {
  color : white;
  font-size:x-large
}
.MuiButtonBase-root {
  color : white;
  font-size: x-large;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color:white;
}

button {
  color:white;
  font-size : x-large;
}
