#style-selector{
  font-size: 14px;
  color: white;
}

.MuiButtonBase-root-MuiTab-root {
  color: white;
}
.MuiNativeSelect-select {
  color : white;
  font-size:x-large
}
.MuiButtonBase-root {
  color : white;
  font-size: x-large;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color:white;
}

button {
  color:white;
  font-size : x-large;
}

select {
  color: white;
  font-size: x-large;
}
